@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito, Sans-serif, Arial, Helvetica;
}

html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5a189a;
    width: 100vw;
    height: 100vh;
    transition: background-color 1s;
}

body > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
}

h1#logo {
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header button {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: 600;
    cursor: pointer;
}


#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(31, 1, 80, 0.26);
}

#TimerOptions {
    display: flex;
    gap: 80px;
}

/*timers*/
#work-timer {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

#work-timer p {
    font-size: 4em;
    letter-spacing: 7px;
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

/*Buttons*/
.btn {
    box-shadow: 0px 5px 0px #bfc0c0;
    align-self: center;
    justify-self: center;
    width: 180px;
    height: 55px;
    font-size: 2em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 0 8px;
    color: #5a189a;
    cursor: pointer;
}

.btnPress {
    box-shadow: 0 0 0;
    transform: translateY(5px);
}

.btnCheck:active {
    box-shadow: 0 0 0;
    transform: translateY(5px);
}

.btnOptions {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
